<div class="container-login100 bg">

  <div class="wrap-login100">
    <form class="form-group login100-form validate-form" #myForm="ngForm" >
      <span class="login100-form-title p-b-26">
        Welcome
      </span>
      <br>
      <div class="wrap-input100" >
        <label>Email</label>
        <input class="form-control input100" type="text"  name="email" id="email" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
          [(ngModel)]="email" #emailctrl="ngModel">
      </div>
      <span class="err" *ngIf="emailctrl.errors?.required && emailctrl.touched">
        Email is required
      </span>
      <span class="err" *ngIf="emailctrl.errors?.pattern">
        Email is invalid
      </span>
      <span class="err" *ngIf="emailctrl.valid">

      </span>
      <br>
      <div class="wrap-input100 validate-input" data-validate="Enter password">
        <label>Password</label>
        <input class="form-control input100" type="password" id="pass" name="pass"  required [(ngModel)]="pass" #wordctrl="ngModel">
      </div>
      <span class="err" *ngIf="wordctrl.errors?.required && wordctrl.touched">
        Password is required
      </span>
<br>
      <div class="container-login100-form-btn">
        <div class="wrap-login100-form-btn">
          <div class="login100-form-bgbtn"></div>
          <button type="submit" uiSref="signup" href="/signup" class="login100-form-btn" [disabled]="!myForm.valid">
            Login
          </button>
        </div>
      </div>

      <div class="text-center">
        <br>
        <span class="txt1">
          Don’t have an account? 
        </span>

        <a uisref="signup" href="/signup">
          Sign Up
        </a>
      </div>
    </form>
  </div>
</div>