/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

.wrap-input100 {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #adadad;
  }
  .err{
    color: red;
    padding-top: -55px;
    font-size: 11px;
  }
  /* .center{
	  background-image: url("/assets/images/back.jpg");
	  height: 100%;
	  margin-top: -50px;
  }
  */
  input {
	outline: none;
	border: none;
}
  .info{
	padding-left: 65px;
	padding-top:10px;
  }

.basic{
	margin-left:25px; 
}
.basic input{
	width: 240px;
}
.add td{
	padding-left: 25px;
	padding-top:10px;
}
.table{
	padding-left: 25px;	
}
.btn-success{
	margin-left: 40%;
}

  .input100 {
    font-family: Poppins-Regular;
    font-size: 15px;
    color: #555555;
    display: block;
    width: 100%;
    background: transparent;
    padding: 0 5px;
  }
  .form-control:focus {
    border-color: white;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(243, 245, 247);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(251, 252, 253);
}
  .focus-input100 {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
  }
  
  .focus-input100::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
  
  }

  

#msform {
	width: 800px;
	margin: 50px auto;
	position: relative;
}
#msform fieldset {
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	width: 80%;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}

#msform .action-button {
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;	
	border: 0 none;
	border-radius: 20px 20px;
	cursor: pointer;
	margin-left: 70%;
}

.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
	text-align: center;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: auto;
	/*CSS counters to number the steps*/
	counter-reset: step;
	text-align: center;
}
#progressbar li {
	list-style-type: none;
	color: pink;
	text-transform: uppercase;
	font-size: 9px;
	width: 33.33%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: pink;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: pink;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #27AE60;
	color: pink;
}



